rootpanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

label {
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  color: black;
  padding: 10px 15px;
  background-color: white;
}

.danger {
  background-color: #ff0000;
}

.crosshair {
  &.crosshair-dot {
    position: absolute; 
    left: 50%; 
    top: 50%;
    background-color: white; 
    border-radius: 10px; 
    width: 6px; 
    height: 6px; 
    border: 2px solid black; 
    transform: translate( -50% -50% );
  }
  
  &.crosshair-cross {
    // TODO
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;

  & .health, & .ammo {
    padding: 0 50px;
  }

  & .health {
    position: absolute;
    left: 0;
  }

  & .ammo {
    position: absolute;
    right: 0;

    & .ammo-reserve {
      background-color: transparent;
      color: white;
      text-shadow: 0 0 15px #00000088;
    }
  }
}

// Right hand side
.loadout {
  
}
