rootpanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

label {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
}

.danger {
  color: #ff0000;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;

  health, ammo, heroportrait, loadout {
    color: black;
    padding: 10px 15px;
    background-color: white;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 25px #00000088;
  }
}


.health-icon, .ammo-icon {
  width: 32px;
  height: 32px;

  margin-right: 8px;

  background-size: 100%;
}


health {
  align-items: center;
  width: 135px;
  
  .health-icon {
    background-image: url( /ui/extraction/health-icon-xs.png );
  }
}

ammo {
  position: absolute;
  right: 50px;
  bottom: 50px;
  align-items: center;

  .ammo-reserve {
    font-size: 24px;
    font-weight: 600;
    
    margin-left: 8px;
  }
  
  .weapon-name {
    font-size: 24px;
    font-weight: 700;

    margin-left: 8px;    
  }
  
  .ammo-icon {
    background-image: url( /ui/extraction/ammo-icon-xs.png );
  }
}

heroportrait {
  position: absolute; 
  bottom: 125px; 
  left: 50px; 
  padding: 0;
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
  width: 135px;
  
  .hero-image {
    // HACK: overflow:hidden currently doesn't work(?), at least for this, so just apply border radius here
    border-radius: 0 7px 7px 0;
  }
  
  .current-hero {
    padding: 15px;
  }
}

