rootpanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

label {
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  color: black;
  padding: 10px 15px;
  background-color: white;
}

.danger {
  background-color: #ff0000;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;

  & .health, & .ammo {
    padding: 0 50px;
  }

  & .health {
    position: absolute;
    left: 0;
  }

  & .ammo {
    position: absolute;
    right: 0;

    & .ammo-reserve {
      background-color: transparent;
      color: white;
      text-shadow: 0 0 15px #00000088;
    }
  }
}

.health-icon {
  width: 64px;
  height: 64px;
}

// Right hand side
.loadout {
  
}
